@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Honk&display=swap');

body {
    background-color: rgba(173, 109, 247, 0.7);
}

.main-titulo {
    color: white;
    font-weight: bold; /* Corrigido */
    text-align: center;
    padding: 5%;
    font-family: 'Honk';
    font-size: 80px;
}

.sub-titulos{
    color: #8931b5;
    font-weight: bold; /* Corrigido */
    text-align: center;
    padding: 1% 3% 5%;
    font-family: 'Bebas Neue';
    font-size: 38px;
    font-style: unset;
}

.div-style {
    background-color: white;
    padding: 4% 5%;
    border-radius: 20px;
    margin: 3% 1%;
}

.table-resumo{
    text-align: center;
    border-radius: 5px;
}

.table-resumo thead{
    font-family: 'Bebas Neue';
    font-size: 20px;
}

.update-btn{
    background-color: rgba(47, 76, 245, 0.7);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    
}

.delete-btn{
    background-color: rgba(245, 47, 47, 0.7);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 2%;
    
}

form label {
    font-weight: bold;
}
form input{
    border: solid 1px #8931b5;
    border-radius: 5px;
    margin: 0 1.5% 0 0px;
    
}

form button{
    background-color: rgba(245, 47, 235, 0.7);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5%;
    border: 1px solid transparent;
}

.div-pag{
    display: grid;
    place-items: center;
}

.pag-btn-group{
    margin: 2%;
    font-weight: bold;
}

.pag-btn-group button{
    background-color: rgba(245, 47, 235, 0.7);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid transparent;}